body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 80%;
    max-width: 500px;
    padding: 20px;
}

.contains {
    padding: 20px;
    border: 1px solid #000000;
    height: 550px;
}

.contains {
    padding: 20px;
    border: 1px solid #000000;
    height: 550px;
}

.contains h1 {
    text-align: center;
    margin-bottom: 20px;
}

.product-details {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.detail-row {
    margin: 20px;
    display: flex;
    align-items: center;
}

span {
    color: red;
    font-size: 20px;
}

label {
    width: 150px;
}

input[type="text"],
textarea,
.image-input-container {
    width: calc(100% - 170px);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.product_image {
    max-width: 120px;
    height: auto; 
    display: block;
    margin-top: 5px;
}

img{
    max-width: 120px;
    height: auto; 
}

.spacer{
    height: 85px;
}

.image-input-container {
    height: 120px;
    padding: 5px;
    border-radius: 3px;
    border: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.submit {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;
}

.submit.form-new,
.submit.back {
    background-color: rgb(255, 145, 0); /* 戻るボタンの色 */
}

.submit.form-submit,
.submit.edit,
.submit.update {
    background-color: aqua; /* 実行ボタンの色 */
    margin-left: 15px;
}

.submit:hover {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}