body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px
}

.contains {
  width: 850px;
  height: 550px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding: 0;
}

form.search {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 700px;
  padding: 10px;
  background-color: white;
}

h1 {
  text-align: left;
}

.key-company {
  appearance: none;
  background-image: url(
    'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path fill="%23fff" stroke="%23000" stroke-width="1.5" d="M0 1l6 6 6-6H0z"/></svg>'
    );
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
  background-size: 12px 8px;
  padding-right: 20px;
  background-color: #fff;
}

#search_button {
  margin-left: 3px;
  padding: 4px 18px;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #cfcfcffa;
  border-radius: 4px;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

#search_button:active {
  transform: translateY(2px);
  box-shadow: none;
}

table#products_table {
  width: 100%;
  max-width: 850px;
  max-height: 500px;
  margin-top: 70px;
  padding: 10px;
  border-collapse: collapse;
}

#products_table td,
#products_table th {
  vertical-align: middle;
  border: 1px solid #ccc;
  padding: 8px;
  height: 30px;
}

#products_table th {
  background-color: white;
}

#products_table tr:nth-child(even) {
  background-color: #dbdbdb; /* 偶数行の背景色を灰色 */
}

#products_table td:nth-child(6) { /* メーカー名の列 */
  text-align: center;
}

input[type="text"],
select {
  width: 250px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sort_button,
.limit_button,
#products_table a {
  display: block;
  width: 105%;
  color:#050505;
  background-color: white;
  text-decoration: none;
  border:none;
  font-weight: bold;
  font-size:16px;
  text-align: center;
  float: center;
  margin:auto;
}

.sort_button:hover,
.limit_button:hover,
#products_table a:hover {
  cursor: pointer;
  color:blue;
}

.limit_button:hover {
  cursor: pointer;
}

.limit_check {
  display: none;
}

.limit_popup {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 45%;
  transform: translateX(-50%);
  width: 210px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease, bottom 0.3s ease;
}

.stock_popup {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 57%;
  transform: translateX(-50%);
  width: 210px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease, bottom 0.3s ease;
}

.limit_check:checked + .limit_popup,
.limit_check:checked + .stock_popup {
  top:170px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.limit_popup form {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.limit_popup input,
.stock_popup input {
  width: 20%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.limit_popup input[type="number"],
.stock_popup input[type="number"] {
  padding: 0.5em 1em;
  width: 20%;
  font-size: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.limit_popup input[type="submit"],
.stock_popup input[type="submit"] {
  padding: 2px 2px;
  font-size: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

img {
  max-width: 100px;
  height: auto;
}

.create {
  margin-left: 2px;
  color: #ffffff;
  background-color: rgb(255, 153, 0);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  font-weight: lighter;
  display: inline-block;
}

.create:hover {
  background-color: rgb(255, 183, 30);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.btn-contains {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail,
.delete-btn {
  color: #050505;
  background-color: aqua;
  text-decoration: none;
  padding: 4px 9px;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.detail:hover,
.delete-btn:hover {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  margin: 0 2px;
}

.pagination {
  position: fixed;
  top: 800px;
  transform: translateX(-50%);
  padding: 20px 10px;
  font-size: 20px;
  margin-left: 400px;
}

.pagination a {
  padding: 3px 8px;
  font-size: 20px;
  color: blue;
  margin: -2.5px;
}

.pagination span {
  padding: 3px 8px;
  font-size: 20px;
  border: 1px solid black;
  margin: -2.5px;
}

.pagination a:hover {
  background-color: lightblue;
}

.pagination .active {
  color: white;
}
